.btn-main {
    background: $primary;
    border-radius: 200px;
    padding: 10px 20px; 
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
      &:focus,
      &:hover,
      &:active {
            background: darken($primary, 15%);
            text-decoration: none;
            cursor: pointer;
            outline: none;
            box-shadow: none;
      }
}

.btn-white {
    background: $white;
    border-radius: 200px;
    padding: 10px 20px; 
    color: $primary;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
      &:focus,
      &:hover,
      &:active {
            background: darken($white, 15%);
            text-decoration: none;
            cursor: pointer;
            outline: none;
            box-shadow: none;
      }
}

.btn-lg {
  padding: 15px 30px;
}