.btn-main {
    background: #ffffff;
    border-radius: 200px;
    padding: 10px 20px; 
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
      &:hover {
        background: #ffffff;
        color: #ffffff ;
      }
      &:active {
        background: #ffffff;
        color: #ffffff ;
      }
      &:focus {
        background: #ffffff;
        color: #ffffff ;
      }     
}
