.btn-main {
    background: $primary;
    border-radius: 200px;
    padding: 10px 20px; 
    color: $white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
      &:hover {
        background: $primary-hover ;
        color: $white ;
      }
      &:active {
        background: $primary-hover ;
        color: $white;
      }
      &:focus {
        outline: none;
        background: $primary-hover ;
        color: $white;
      }     
}

.btn-white {
    background: $white;
    border-radius: 4px;
    padding: 10px 20px; 
    color: $primary;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    border: none;
      &:hover {
        color: $primary-hover ;
      }
      &:active {

        color: $primary-hover ;
      }
      &:focus {
        outline: none;
        background: $primary-hover ;
        color: $white;
      }     
}