$primary: #FF454A;
$primary-hover: #BF3438;
$secondary: #607D8B;
$background-grey: #F1F2F2;
$container-border: #E6E7E8;

$dark-green: #00232b;
$mid-grey: #939598;
$light-grey: #e2e2e2;
$border-grey: #D1D3D4;
$dark-grey: #939598;
$white: #ffffff;
$grey: #a7a7a7;
$black: #000000;

$nav-background: #2d3039;
$blue: #73a3ff;
$dark-blue: #5382dc;