$primary: #8B63AA;
$dark-primary: #75528F;
$white: #ffffff;
$grey: #bbbbbb;
$black: #000000;

.primary {
	color: $primary;
}

.white {
	color: $white;
}

.black {
	color: $black;
}

.grey {
	color: $grey;
}