$primary: #FF454A;
$primary-hover: #3f9542;
$secondary: #607D8B;
$background-grey: #F1F2F2;
$container-border: #E6E7E8;

$dark-green: #00232b;
$mid-grey: #939598;
$border-grey: #D1D3D4;
$dark-grey: #939598;
$white: #ffffff;
$black: #000000;

$nav-background: #2d3039;
