
/** hero home **/
.phone-hero-img {
	width: 100%;
	max-width: 350px;
	text-align: center;
}

.red-hero {
	color: $white;
	background: $primary;
	padding: 130px 50px 50px 50px ;
}


/** footer **/

.footer {
	background: #2f2f2f;
	color: $white;
	padding: 30px 0px;
}

.footer-ul {
	list-style-type: none;
	padding: 15px;
}

.footer-li {
	padding-bottom: 10px;
}

#mc_embed_signup {
	margin-left: 15px;
	background: #2f2f2f !important;
}

#mce-EMAIL {
	background: #ffffff !important;
    border: 1px solid #ffffff  !important;
    height: 40px  !important;
    width: 100%  !important;
    padding: 15px  !important;
    border-radius: 5px  !important;
    margin-top: 20px;
}

#mc-embedded-subscribe {
	margin-top: 10px;
	background: #FF454A !important;
	color: #ffffff !important;

	border: 1px solid #FF454A !important;
	border-radius: 5px  !important;
}

#mc-embedded-subscribe:hover {
	background: #FF6A6E !important;
	color: #ffffff !important;
}

/** basics **/
.basic-container {
	padding: 50px;
}

.white-jam {


background: url(../img/cta-img.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
margin: 0 auto;
color: $white;
}

.red-cta {
	background: $primary;
	color: $white;
}
.text-container {
	margin-top: 120px;
}

.skinny-jam {
	max-width: 600px;
	padding-bottom: 30px;
}

.top-row {
	margin-top: 120px;
}

.content-img {
	width: 100%
}


/*** card update ***/
@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 20px;
  }
}

.jumbotron {
	margin-bottom: 0px;
	border-radius: 0;
}


/*** video background test **/

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0; 
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

/* These just style the content */
article {
/*  just a fancy border  */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 10px solid rgba(255, 255, 255, 0.5);
  margin: 10px;
}