
/** hero home **/
.phone-hero-img {
	width: 100%;
	max-width: 350px;
	text-align: center;
}

.red-hero {
	color: $white;
	background: $primary;
	padding: 130px 50px 50px 50px ;
}

.grey-body {
	background: $background-grey;
}


/** footer **/

.footer {
	background: #2f2f2f;
	color: $white;
	padding: 30px 0px;
}

.footer-ul {
	list-style-type: none;
	padding: 10px 0px;
}

.footer-li {
	padding-bottom: 10px;
}

#mc_embed_signup {
	margin-left: 0px !important;
	background: none !important;
}

#mce-EMAIL {
	background: #ffffff !important;
    border: 1px solid #ffffff  !important;
    height: 40px  !important;
    width: 100%  !important;
    padding: 15px  !important;
    border-radius: 5px  !important;
    margin-top: 20px;
}

#mc-embedded-subscribe {
	margin-top: 10px;
	background: #FF454A !important;
	color: #ffffff !important;

	border: 1px solid #FF454A !important;
	border-radius: 5px  !important;
}

#mc-embedded-subscribe:hover {
	background: #FF6A6E !important;
	color: #ffffff !important;
}

/** basics **/
.basic-container {
	padding: 50px;
}

.white-jam {

background: url(../img/cta-img.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
margin: 0 auto;
height: 400px;
color: $white;
}


.shirt-jam {

background: url(../img/shirt.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
width: 100%;
height: 400px;
margin: 0 auto;
color: $white;
}


.red-cta {
	background: $primary;
	color: $white;
}
.text-container {
	margin-top: 120px;
}

.skinny-jam {
	max-width: 600px;
	padding-bottom: 30px;
}

.top-row {
	margin-top: 120px;
}

.content-img {
	width: 100%
}

.no-margin {
	margin: 0px;
}

.no-padding {
	padding: 0px;
}
/*** card update ***/
@media only screen and (max-width: 767px) {
  .card {
    margin-bottom: 20px;
  }
}

.jumbotron {
	margin-bottom: 0px;
	border-radius: 0;
}


/*** card for blog ***/
/*** card updates ***/
.card {
	border: none;
	-webkit-box-shadow: 0px 0px 8px 3px rgba(242,242,242,1);
-moz-box-shadow: 0px 0px 8px 3px rgba(242,242,242,1);
box-shadow: 0px 0px 8px 3px rgba(242,242,242,1);
	border-radius: 0;
}

.card-header {
	background: $white;
	padding: 1.25rem;
	border-bottom: none;
}

.card-header:first-child {
    border-radius: none;
}

.card-img-top {
    border-top-right-radius: none !important;
    border-top-left-radius: none !important;
}


p.Blog {
	  font-weight: 500;
    font-size: 12px;
    color: $primary;
    text-transform: uppercase;
    margin-bottom: 0px;
}

span.blog-date {
	color: $grey;
	font-weight: 300;
	padding-left: 10px;
}

h4.card-title {
	font-weight: 400;
    font-size: 17px;
    line-height: 26px;
}

.blog-read-more {
	color: $blue;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
}

.blog-read-more:hover {
	color: $dark-blue;
	text-decoration: none;
}

p.card-text {
	font-size: 15px;
	font-weight: 300;
}

/*** blog css ***/

.navbar-light .navbar-nav .nav-link.active {
    color: $white;
    border-bottom: 2px solid white;
}



.blog-jumbo {
	height: 500px;
}

@media only screen and (max-width: 767px) {
  .blog-jumbo {
    height: 300px;
  }
}

.blog-title {
	background: $primary;
    padding: 40px 70px;
    margin-top: -120px;
    margin-left: -40px;
    color: white;
}

@media only screen and (max-width: 991px) {
  .blog-title {
     margin: 0px;
     margin-top: -100px;
  }
}

.instructions {
	border-right: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	border-left: 1px solid $light-grey;
    padding: 30px;
    background: white;
}

.chef-info {
	border-right: 1px solid $light-grey;
	border-bottom: 1px solid $light-grey;
	border-top: 1px solid $light-grey;
    padding: 20px;
    background: white;
    margin-left: -15px;
    margin-top: -70px;
}

@media only screen and (max-width: 991px) {
  .chef-info {
     margin: 15px;
     border-left: 1px solid $light-grey;
  }
}

.restaurant-img {
	width: 100%;
	max-width: 90px;
	padding-right: 10px;
}

.rest-add-ul {
	list-style: none;
    padding-left: 0px;
    display: inline-flex;
}

.about-meal-ul {
	list-style: none;
    padding-left: 0px;
    display: inline-flex;
}

@media only screen and (max-width: 767px) {
  .about-meal-ul {
     display: block;
  }
}
