/*** careers-header **/
.careers-jumbo {
background: url(../img/careers.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
	width: 100%;
	margin: 0 auto;
	color: $white;
	margin-top: -100px;
	padding-top: 400px;
	height: 800px;
}


@media only screen and (max-width: 991px) {
  .careers-jumbo {
    height: 400px;
    padding-top: 200px;
  }
}



/*** projct heros **/
.pbnj-jumbo {
background: url(../img/pbj.png) no-repeat center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
display: table;
	width: 100%;
	margin: 0 auto;
	color: $white;
	margin-top: -100px;
	padding-top: 200px;
}