.hero-img {
	height: 60px;
}

.red-nav {
	background: $primary;
}

a.nav-link.white-nav-link {
	color: $white;
}

.navbar-light .navbar-nav .nav-link {
	color: $white;
}

.section-cta {
	background: $background-grey;
}

button.navbar-toggler.navbar-toggler-right {
	margin: 12px 0px;
	background: #ffffff;
}