h1 {
	font-weight: 600;
	font-size: 50px;
	margin: 0px;
	color: #848203;
}

h2 {
	font-weight: 400;
	font-size: 24px;

}

h3 {
	font-size: 20px;
	font-weight: 400;

}

h4 {
	font-weight: 400;
	font-size: 14px;
	margin: 0px;
}

h5 {
	font-size: 13px;
	font-weight: 400;

}

p {
	font-weight: 400;
	font-size: 16px;
}


a {
	text-decoration: none;
}


span.price {
	font-size: 26px;
}